.b1{
	height:200px;
	width:200px;
	background-color: red;
}
.b2{
	height:200px;
	width:200px;
	position:absolute;
	background-color: green;
	left:210px;
	top:10px;
	
}
.b3{
	height:200px;
	width:200px;
	background-color: yellow;
	
}
